.pizza {
    text-align: center;
    &__img {
        margin-bottom: 15px;
    }

    &__title {
        font-size: 36px;
        margin-bottom: 20px;
    }

    &__rating {
        font-size: 22px;
        margin-bottom: 25px;
    }

    &__price {
        font-size: 30px;
    }
}